In [2]:
import pandas as pd
import glob

In [3]:
path = '/Users/hanselblanco/Documents/tesis/datasets/unsplash-research-dataset-lite-latest/'
documents = ['photos', 'keywords', 'collections', 'conversions', 'colors']
datasets = {}

for doc in documents:
  files = glob.glob(path + doc + ".tsv*")

  subsets = []
  for filename in files:
    df = pd.read_csv(filename, sep='\t', header=0)
    subsets.append(df)

  datasets[doc] = pd.concat(subsets, axis=0, ignore_index=True)

In [4]:
datasets['photos'].head()

,photo_id,photo_url,photo_image_url,photo_submitted_at,photo_featured,photo_width,photo_height,photo_aspect_ratio,photo_description,photographer_username,...,photo_location_country,photo_location_city,stats_views,stats_downloads,ai_description,ai_primary_landmark_name,ai_primary_landmark_latitude,ai_primary_landmark_longitude,ai_primary_landmark_confidence,blur_hash
0,XMyPniM9LF0,https://unsplash.com/photos/XMyPniM9LF0,https://images.unsplash.com/uploads/1411949294...,2014-09-29 00:08:38.594364,t,4272,2848,1.50,Woman exploring a forest,michellespencer77,...,NaN,NaN,2375421,6967,woman walking in the middle of forest,NaN,NaN,NaN,NaN,L56bVcRRIWMh.gVunlS4SMbsRRxr
1,rDLBArZUl1c,https://unsplash.com/photos/rDLBArZUl1c,https://images.unsplash.com/photo-141633941111...,2014-11-18 19:36:57.08945,t,3000,4000,0.75,Succulents in a terrarium,ugmonk,...,NaN,NaN,13784815,82141,succulent plants in clear glass terrarium,NaN,NaN,NaN,NaN,LvI$4txu%2s:_4t6WUj]xat7RPoe
2,cNDGZ2sQ3Bo,https://unsplash.com/photos/cNDGZ2sQ3Bo,https://images.unsplash.com/photo-142014251503...,2015-01-01 20:02:02.097036,t,2564,1710,1.50,Rural winter mountainside,johnprice,...,NaN,NaN,1302461,3428,rocky mountain under gray sky at daytime,NaN,NaN,NaN,NaN,LhMj%NxvM{t7_4t7aeoM%2M{ozj[
3,iuZ_D1eoq9k,https://unsplash.com/photos/iuZ_D1eoq9k,https://images.unsplash.com/photo-141487280988...,2014-11-01 20:15:13.410073,t,2912,4368,0.67,Poppy seeds and flowers,krisatomic,...,NaN,NaN,2890238,33704,red common poppy flower selective focus phography,NaN,NaN,NaN,NaN,LSC7DirZAsX7}Br@GEWWmnoLWCnj
4,BeD3vjQ8SI0,https://unsplash.com/photos/BeD3vjQ8SI0,https://images.unsplash.com/photo-141700759404...,2014-11-26 13:13:50.134383,t,4896,3264,1.50,Silhouette near dark trees,jonaseriksson,...,NaN,NaN,8704860,49662,trees during night time,NaN,NaN,NaN,NaN,L25|_:V@0hxtI=W;odae0ht6=^NG

In [5]:
datasets['keywords'].head()

,photo_id,keyword,ai_service_1_confidence,ai_service_2_confidence,suggested_by_user
0,zzux2cH-F-A,grove,99.077385,NaN,f
1,zzux2cH-F-A,compass,26.864105,NaN,f
2,zzux2cH-F-A,field,94.293869,NaN,f
3,zzux2cH-F-A,jar,43.128902,NaN,f
4,zzux2cH-F-A,flower,81.635406,NaN,f

In [6]:
datasets['collections'].head()

      photo_id collection_id    collection_title          photo_collected_at
0  --2IBUMom1I       9832457            business  2020-04-04 14:26:10.506402
1  --2IBUMom1I        162470  Majestical Sunsets  2016-03-15 17:04:25.089589
2  --2IBUMom1I       4916417             PESSOAS  2019-06-01 04:20:40.076819
3  --2IBUMom1I      88441555          ROCANCOURT  2020-10-26 10:53:03.931209
4  --2IBUMom1I       2143051     Travel / Places  2018-05-22 23:20:05.898545

In [7]:
datasets['conversions'].head()

,converted_at,conversion_type,keyword,photo_id,anonymous_user_id,conversion_country
0,2020-07-29 00:08:04.221,download,clouds,ABmygVJcYgY,dd01ebdd-7691-4518-ab19-b2105782ae8b,VE
1,2020-07-29 00:25:23.426,download,shark,fB2jl6Rb3l4,c48ba6e0-c6a7-4a92-b569-fe57808a8a2c,QA
2,2020-07-29 00:26:13.122,download,dogs,k1hbfag2na0,62c4f043-579c-438f-8815-eb8ba3c54d34,KR
3,2020-07-29 00:37:03.308,download,astronaut,-SyUjRlHauQ,7ad6dc18-a02e-4ba2-b93c-fd7ea2e551d8,JP
4,2020-07-29 00:54:28.942,download,red roses,A0iTJUhK4es,f03a5708-32e4-4fae-8210-3c5d2632cbfb,NZ

In [8]:
datasets['colors'].head()

      photo_id     hex  red  green  blue    keyword  ai_coverage  ai_score
0  10UzSfKEXsc  45709A   69    112   154  steelblue     0.130267  0.093075
1  tPGDYGDVT-w  84A258  132    162    88       gray     0.035833  0.192869
2  5sh24a7m0BU  36768C   54    118   140  steelblue     0.000733  0.000188
3  5sh24a7m0BU  FBF1B0  251    241   176   moccasin     0.013933  0.018116
4  VTXU8ff8FIU  BDC0C2  189    192   194     silver     0.077500  0.040238

In [11]:

df_to_feather = pd.merge(datasets)
df_to_feather

                  photo_id                                photo_url  \
photos 0       XMyPniM9LF0  https://unsplash.com/photos/XMyPniM9LF0
       1       rDLBArZUl1c  https://unsplash.com/photos/rDLBArZUl1c
       2       cNDGZ2sQ3Bo  https://unsplash.com/photos/cNDGZ2sQ3Bo
       3       iuZ_D1eoq9k  https://unsplash.com/photos/iuZ_D1eoq9k
       4       BeD3vjQ8SI0  https://unsplash.com/photos/BeD3vjQ8SI0
...                    ...                                      ...
colors 245671  _EjkW9oTtGA                                      NaN
       245672  a9944b_3CS8                                      NaN
       245673  a9944b_3CS8                                      NaN
       245674  D2r2nmABz0M                                      NaN
       245675  D2r2nmABz0M                                      NaN

                                                 photo_image_url  \
photos 0       https://images.unsplash.com/uploads/1411949294...
       1       https://images.unsplash.com/photo-141633941111...
       2       https://images.unsplash.com/photo-142014251503...
       3       https://images.unsplash.com/photo-141487280988...
       4       https://images.unsplash.com/photo-141700759404...
...                                                          ...
colors 245671                                                NaN
       245672                                                NaN
       245673                                                NaN
       245674                                                NaN
       245675                                                NaN

                       photo_submitted_at photo_featured  photo_width  \
photos 0       2014-09-29 00:08:38.594364              t       4272.0
       1        2014-11-18 19:36:57.08945              t       3000.0
       2       2015-01-01 20:02:02.097036              t       2564.0
       3       2014-11-01 20:15:13.410073              t       2912.0
       4       2014-11-26 13:13:50.134383              t       4896.0
...                                   ...            ...          ...
colors 245671                         NaN            NaN          NaN
       245672                         NaN            NaN          NaN
       245673                         NaN            NaN          NaN
       245674                         NaN            NaN          NaN
       245675                         NaN            NaN          NaN

               photo_height  photo_aspect_ratio           photo_description  \
photos 0             2848.0                1.50    Woman exploring a forest
       1             4000.0                0.75   Succulents in a terrarium
       2             1710.0                1.50   Rural winter mountainside
       3             4368.0                0.67     Poppy seeds and flowers
       4             3264.0                1.50  Silhouette near dark trees
...                     ...                 ...                         ...
colors 245671           NaN                 NaN                         NaN
       245672           NaN                 NaN                         NaN
       245673           NaN                 NaN                         NaN
       245674           NaN                 NaN                         NaN
       245675           NaN                 NaN                         NaN

              photographer_username  ... converted_at conversion_type  \
photos 0          michellespencer77  ...          NaN             NaN
       1                     ugmonk  ...          NaN             NaN
       2                  johnprice  ...          NaN             NaN
       3                 krisatomic  ...          NaN             NaN
       4              jonaseriksson  ...          NaN             NaN
...                             ...  ...          ...             ...
colors 245671                   NaN  ...          NaN             NaN
       245672                   NaN  ...          NaN             NaN
       245673                   NaN  ...          NaN             NaN
       245674                   NaN  ...          NaN             NaN
       245675                   NaN  ...          NaN             NaN

              anonymous_user_id conversion_country     hex    red  green  \
photos 0                    NaN                NaN     NaN    NaN    NaN
       1                    NaN                NaN     NaN    NaN    NaN
       2                    NaN                NaN     NaN    NaN    NaN
       3                    NaN                NaN     NaN    NaN    NaN
       4                    NaN                NaN     NaN    NaN    NaN
...                         ...                ...     ...    ...    ...
colors 245671               NaN                NaN  A29C80  162.0  156.0
       245672               NaN                NaN  B095A3  176.0  149.0
       245673               NaN                NaN  D0B0B8  208.0  176.0
       245674               NaN                NaN  D3B7BB  211.0  183.0
       245675               NaN                NaN  8F707D  143.0  112.0

                blue ai_coverage  ai_score
photos 0         NaN         NaN       NaN
       1         NaN         NaN       NaN
       2         NaN         NaN       NaN
       3         NaN         NaN       NaN
       4         NaN         NaN       NaN
...              ...         ...       ...
colors 245671  128.0    0.075067  0.019233
       245672  163.0    0.004200  0.060984
       245673  184.0    0.001333  0.020211
       245674  187.0    0.049600  0.043304
       245675  125.0    0.033467  0.038197

[17148292 rows x 48 columns]

In [13]:
import pyarrow.feather as feather
feather.write_feather(df_to_feather, '/Users/hanselblanco/Documents/tesis/datasets/unsplash-research-dataset-lite-latest/data/id_data.feather')